{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="container-fluid">
    <h5 class="mb-3">Profile:</h5>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-12 col-md-7 col-lg-9 mt-3">
                <div class="card-body">
                    <p id="usernameInfo">Username: {{user.username}}</p>
                    <p id="emailInfo">Email: {{user.email}}</p>

                    <a class="btn btn-info" href="{% url 'update-account-form' %}" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg> Edit personal info</a>
                    <a class="btn btn-danger ms-3" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg> Delete account</a>

                    <form class="mt-3" action="{% url 'change-picture' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form_picture.visible_fields %}
                            <div class="form-group mb-3">
                                <label for="{{field.id_for_label}}">{{field.label}}</label>
                                {{field}}
                            </div>
                            {% for error in field.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{field.errors}}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <button id="buttonChangeProfilePicture" type="submit" class="btn btn-primary">Change picture</button>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-3">
                {% if app_user.picture %}
                    <img src="{{app_user.picture.url}}" class="img-fluid rounded-start" alt="...">
                {% else %}
                    <img src="{% static 'profile.jpg' %}" class="img-fluid rounded-start" alt="...">  
                {% endif %}
            </div>
        </div>
      </div>

    <!-- Confirm account deletion -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm deletion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Are you sure that you want to delete your account? This action is irreversible.
            </div>
            <div class="modal-footer">
            <button id="declineButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, cancel deletion</button>
            <form action="{% url 'delete-account' %}" method="POST">
                {% csrf_token %}
                <button id="confirmButton" class="btn btn-danger" type="submit">Yes, I want to delete my account</button>
            </form>
            </div>
        </div>
        </div>
    </div>

    <h5 class="my-3">History of your peformances:</h5>

    <form action="{% url 'profile' %}" method="GET">
        <select class="form-select mb-3" name="game">
            {% if selected_game %}
                <option value="all_games">All games</option>
            {% else %}        
                <option id="gameFilterField" value="all_games" selected>All games</option>
            {% endif %}
            {% for game in games %}
                {% if game == selected_game %}
                    <option id="gameFilterField" value="{{game.game_tag}}" selected>{{game.game_name}}</option>
                {% else %}
                    <option value="{{game.game_tag}}">{{game.game_name}}</option>
                {% endif%}
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary mb-3">Apply</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Game</th>
                <th scope="col">Date</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
                <tr>
                    <td id="scoreGameName">{{score.game}}</td>
                    <td id="scoreDate">{{score.date|date:"Y/m/d h:i:s A"}}</td>
                    <td id="scoreValue">{{score.score}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}